.cart {
    width: auto;
    color: #2a3c79;
    padding: 12px 0;
    flex-grow: 1;
}

.cart>img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.cart>span {
    display: inline-block;
    vertical-align: middle;
}