.itemCard {
    width: 250px;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 6px 6px;
    color: #3c4043;
}

.itemCard h3 {
    padding: 0 16px;
    margin: 10px 0 15px 0;
}

.itemCard img {
    width: 100%;
}

.itemCard .stock {
    font-size: 10px;
    color: #f07811;
    padding: 5px;
    border-top: 1px solid #dbdbdb;
    margin-top: 20px;
}

.buttonDetail {
    display: block;
    background: #009ee2;
    width: max-content;
    margin: 15px auto 10px auto;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.category {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    display: block;
}